@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0fa !important;
}
.App{
  min-height: 100vh;
  min-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gallery-item {
  margin: 5px;
}

.lg-outer { z-index: 1300; }
.lg-backdrop { z-index: 1290; }

.richtext-editor-textarea{
  min-height: 150px;
  max-height: 150px;
  padding: 0px 10px;
}
.richtext-editor-textarea .public-DraftStyleDefault-block{
  margin: 0 !important;
}
